<launch>
<!-- 
    -->
	<arg name="map_file" default="$(find ccsr2_main)/maps/map.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" machine="nuc"/>
  	<node pkg="move_base" type="move_base" respawn="false" name="move_base"   machine="nuc">
  		<remap from="cmd_vel" to="twist"/>
	    <rosparam file="$(find ccsr2_main)/parameters/costmap_common_params.yaml" command="load" ns="global_costmap" />
	    <rosparam file="$(find ccsr2_main)/parameters/costmap_common_params.yaml" command="load" ns="local_costmap" />
	    <rosparam file="$(find ccsr2_main)/parameters/local_costmap_params.yaml" command="load" />
	    <rosparam file="$(find ccsr2_main)/parameters/global_costmap_params.yaml" command="load" />
	    <rosparam file="$(find ccsr2_main)/parameters/base_local_planner_params.yaml" command="load" />
	  </node>
</launch>
