<launch>

 <machine name="nuc" address="robert-nuc" user="robert"  env-loader="/home/robert/ros/ros_setup.sh" default="true" />




  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

 <node pkg="differential_drive" type="diff_tf.py" name="diff_tf">
<!--
      <rosparam param="odom_frame_id">"base_link"</rosparam>
      <rosparam param="base_frame_id">"odom"</rosparam>
      -->
 </node>
 
 <node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motors">
   <rosparam param="base_width">0.245</rosparam>
 </node>

  <include file="$(find ccsr2_main)/launch/tf_static_transforms.launch" />


<!--
<include file="$(find ccsr2_main)/launch/test.launch" />

 <node pkg="ccsr2_main" type="tf_broadcaster" name="tf_broadcaster"/>
-->


  <include file="$(find ccsr2_main)/launch/libuvc_camera.launch" />
  


</launch>
