

<launch>
<node pkg="tf2_ros" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0.5 0 0 0 1 base_link laser_frame" machine="nuc"/>
<node pkg="tf2_ros" type="static_transform_publisher" name="imu_broadcaster" args="0 1 0 0 0 0 1 base_link imu_frame" machine="nuc"/>
<node pkg="tf2_ros" type="static_transform_publisher" name="range0_broadcaster" args="0 0.1 0.3 0 0 0 1 base_link range_link0" machine="nuc"/>
<node pkg="tf2_ros" type="static_transform_publisher" name="range1_broadcaster" args="0 -0.1 0.3 0 0 0 1 base_link range_link1" machine="nuc"/>
<node pkg="tf2_ros" type="static_transform_publisher" name="camera_broadcaster" args="0 0 0.4 0 0 0 1 base_link camera" machine="nuc"/>
<node pkg="tf2_ros" type="static_transform_publisher" name="lwheel_broadcaster" args="0 0 0 0 0 0 1 base_link left_wheel" machine="nuc"/>
<node pkg="tf2_ros" type="static_transform_publisher" name="rwheel_broadcaster" args="0 0 0 0 0 0 1 base_link right_wheel" machine="nuc"/>
<node pkg="tf2_ros" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 1 odom base_link" machine="nuc"/>
<!-- 
<node pkg="tf2_ros" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 1 map odom" machine="nuc"/>
    -->
</launch>

